@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
html,
body {
	font-family: 'Roboto', 'sans-serif';
	width: 100%;
	height: 100%;
	background-color: rgb(42, 78, 100);
	color: white;
}

.btn-primary {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	color: white;
	background-color: rgb(4, 31, 55);
	border: 1px solid rgb(4, 31, 55);
}

.btn-primary:hover {
	background-color: rgb(74, 107, 138);
	border: 5px solid rgb(74, 107, 138);
}

.btn-danger {
	border-radius: 50%;
	height: 45px;
	width: 45px;
	color: white;
	background-color: rgb(184, 0, 13);
	border: 1px solid rgb(184, 0, 13);
}

.btn-danger:hover {
	background-color: rgb(144, 0, 11);
	border: 5px solid rgb(144, 0, 11);
}

.hover {
	cursor: pointer;
}

.done {
	text-decoration: line-through;
}

.row {
	margin: 10px;
	padding: 10px;
}
